
<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports/customeritems" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Customer Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports/customersmostexpensiveitems">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Top Expensive Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customeritems/customeritem">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers/customer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items/item">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories/category">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
