<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor CRUD</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports/customeritems" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Customer Items Report 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports/customersmostexpensiveitems">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Top Expensive Items Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customeritem">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
