@using ProductManagementSystem.Client.Shared
@page "/login"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@layout LoginLayout

<PageTitle>Login</PageTitle>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
			<EditForm Model="@model" OnValidSubmit="SubmitAsync" class="login100-form validate-form needs-validation">
				<span class="login100-form-title p-b-55">
					Login
					@if (errorMessage is not null)
					{
						<div class="container-login100-form-btn p-t-25">
							<p class="text-danger alert-link">@errorMessage</p>
						</div>
					}
				</span>
				<div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
					<InputText  @bind-Value="@model.Email" class="input100" type="email" name="email" placeholder="Email" required />
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-envelope"></span>
					</span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
					<InputText @bind-Value="@model.Password" class="input100" type="password" name="pass" placeholder="Password" required />
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
					</span>
				</div>
				<div class="contact100-form-checkbox m-l-4">
					<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
					<label class="label-checkbox100" for="ckb1">
						Remember me
					</label>
				</div>
				<div class="container-login100-form-btn p-t-25">
					<button type="submit" class="login100-form-btn">
						Login
					</button>
				</div>
			</EditForm>
		</div>
	</div>
</div>


